<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Sinatra Tic-Tac-Toe</title>
</head>

<style>
  div { display: flex; width: 100%}
  #rules { margin: 25px; }
  .token { width: 75px; height: 75px; }
</style>

<body>
  
  <center>
    <h1>The Doge Game</h1>
  </center>
  
  <div id="rules">
    <strong>The rules are as follows:</strong>
    <ol>
      <li>Whoever takes the last Chrome Boi Token loses</li>
      <li>Two Players take turns, back and forth, in which they remove 1, 2, or 3 tokens all at once</li>
      <li>Players may not skip their turn. Players must take one of the three options</li>
      <li>Upon game over the tokens reset</li>
    </ol>
  </div>
  
  <div id="board">
    
    <% @remaining.times do |x| %>
      <img class="token" src="chrome-boi.png"></img>
    <% end %>
    
  </div>
  
  <form action="/remove" method="post">
    <select name="count">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <input type="hidden" name="remaining" value= <%= @remaining %> >
    <input type="submit" />
  </form>
  
</body>

</html>
